irc:
	network:
		server: irc.rizon.net
		port: 6667

		nick: Akichan
		password:
		alternativeNicks: []
		ident: Aki-chan
		user: Aki-chan - ReactPHP & Nette Framework driven bot

		channels:
			- fairytail
			- sunsub

	setup:
		nickserv: NickServ
		chanserv: ChanServ
		ghostDelay: 60

parameters:
	autoRejoinChannels: []
	maxLinksPerMessage: 1